Source/TIG.IntegrationServer/IntegrationServer/Core/TIG.IntegrationServer.Common/Configuration/IntegrationServiceConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:TIG.IntegrationServer.Common.Configuration" elementFormDefault="qualified" targetNamespace="urn:TIG.IntegrationServer.Common.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="integrationServiceSection" type="tns:TIG.IntegrationServer.Common.Configuration.IntegrationServiceSectionCT" />
	<xs:complexType name="TIG.IntegrationServer.Common.Configuration.IntegrationServiceSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="concurrentSettings" type="tns:TIG.IntegrationServer.Common.Configuration.ConcurrentSettingsCT">
				<xs:annotation>
					<xs:documentation>The ConcurrentSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="syncTaskSettings" type="tns:TIG.IntegrationServer.Common.Configuration.SyncTaskSettingsCT">
				<xs:annotation>
					<xs:documentation>The SyncTaskSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="integrationServiceSettings" type="tns:TIG.IntegrationServer.Common.Configuration.IntegrationServiceSettingsCT">
				<xs:annotation>
					<xs:documentation>The IntegrationServiceSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="TIG.IntegrationServer.Common.Configuration.ConcurrentSettingsCT">
		<xs:attribute name="syncTasksLimit" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The SyncTasksLimit.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="syncInstanceBundleTasksPerSyncEntityBundleTaskLimit" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The SyncInstanceBundleTasksPerSyncEntityBundleTaskLimit.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="syncInstanceTasksPerSyncInstanceBundleTaskLimit" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The SyncInstanceTasksPerSyncInstanceBundleTaskLimit.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TIG.IntegrationServer.Common.Configuration.SyncTaskSettingsCT">
		<xs:attribute name="activeSyncTasksPollingTimeout" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The ActiveSyncTasksPollingTimeout.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="defaultSyncTaskTimeout" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The DefaultSyncTaskTimeout.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TIG.IntegrationServer.Common.Configuration.IntegrationServiceSettingsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="authenticationSettings" type="tns:TIG.IntegrationServer.Common.Configuration.AuthenticationSettingsCT">
				<xs:annotation>
					<xs:documentation>The AuthenticationSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="TIG.IntegrationServer.Common.Configuration.AuthenticationSettingsCT">
		<xs:attribute name="loginName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The LoginName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Password.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="method" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Method.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
