Source/TIG.IntegrationServer/IntegrationServer/Core/TIG.IntegrationServer.Common/Configuration/SyncAgentConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:TIG.IntegrationServer.Common.Configuration" elementFormDefault="qualified" targetNamespace="urn:TIG.IntegrationServer.Common.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="syncAgentConfigurationSection" type="tns:TIG.IntegrationServer.Common.Configuration.SyncAgentConfigurationSectionCT" />
	<xs:complexType name="TIG.IntegrationServer.Common.Configuration.SyncAgentConfigurationSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="syncServiceSettings" type="tns:TIG.IntegrationServer.Common.Configuration.SyncServiceSettingsCT">
				<xs:annotation>
					<xs:documentation>The SyncServiceSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="changeTrackerSettings" type="tns:TIG.IntegrationServer.Common.Configuration.ChangeTrackerConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The ChangeTrackerSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="TIG.IntegrationServer.Common.Configuration.AuthenticationConfigurationElementCT">
		<xs:attribute name="serviceUri" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ServiceUri.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="login" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Login.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Password.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TIG.IntegrationServer.Common.Configuration.SyncServiceSettingsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="authenticationSettings" type="tns:TIG.IntegrationServer.Common.Configuration.AuthenticationConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The AuthenticationSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="networkCredential" type="tns:TIG.IntegrationServer.Common.Configuration.NetworkCredentialCT">
				<xs:annotation>
					<xs:documentation>The NetworkCredential.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="serviceUri" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ServiceUri.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="authentication" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Authentication.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="metadataUri" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The MetadataUri.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TIG.IntegrationServer.Common.Configuration.ChangeTrackerConfigurationElementCT">
		<xs:attribute name="provider" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Provider.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="connectionString" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ConnectionString.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TIG.IntegrationServer.Common.Configuration.NetworkCredentialCT">
		<xs:attribute name="username" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Username.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Password.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="domain" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Domain.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
