Source/TIG.TotalLink.Server/Server/Core/TIG.TotalLink.Server.Core/Configuration/ActiveDirectoryConfigurationSectionDesigner.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:TIG.TotalLink.Server.Core.Configuration" elementFormDefault="qualified" targetNamespace="urn:TIG.TotalLink.Server.Core.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="activeDirectoryConfigurationSection" type="tns:TIG.TotalLink.Server.Core.Configuration.ActiveDirectoryConfigurationSectionCT" />
	<xs:complexType name="TIG.TotalLink.Server.Core.Configuration.ActiveDirectoryConfigurationSectionCT">
		<xs:attribute name="root" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Root.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="domain" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Domain.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="user" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The User.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Password.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
